@page "/{pagenumber:int?}"

@model Chirp.Razor.Pages.PublicModel
@inject Chirp.Infrastructure.ICheepService CheepService
@{
    ViewData["Title"] = "BBL CHIRP!";
    Layout = "Shared/_Layout";   
}

<div>
    <h2> Public Timeline </h2>
    @if (User?.Identity?.IsAuthenticated == true){
    <h3>What's on your mind @Model.UserName! ?</h3>
        <form method="post"
            action='@Url.Page("./Public",
            pageHandler: "NewMessage",
            values: new { pagenumber = Model.PageNumber })'>
                @Html.AntiForgeryToken()
                <input type="text" name="Input" value="">
                <input type="submit" value="Share">
        </form>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.User.Name">@cheep.User.Name</a>
                        </strong>
                        @cheep.Text
                        <p class="followField"> 
                        @if (User?.Identity?.IsAuthenticated == true){
                            @if (User?.Identity?.IsAuthenticated == true){
                                if (Model.followedUsers.Contains(cheep.User.UserId))
                                {
                                    //Already following -> show Unfollow
                                    <form method="post" asp-page-handler="UnFollow">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="followeeId" value="@cheep.User.UserId" />
                                        <button type="submit" style="float:right;" class="btn btn-outline-secondary btn-sm">
                                            Unfollow
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    //Not following -> show Follow
                                    <form method="post" asp-page-handler="Follow">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="followeeId" value="@cheep.User.UserId" />
                                        <button type="submit" style="float:right;" class="btn btn-outline-primary btn-sm">
                                            Follow
                                        </button>
                                    </form>
                                }
                            }
                        }
                        </p>
                    </p>
                    @cheep.TimeStamp
                </li>
            }
        </ul>
        <div class="pager">
        <a class="btn" href="/@(Model.PageNumber - 1)">← Previous</a>
        <a class="btn" href="/@(Model.PageNumber + 1)">Next →</a>
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
   
</div>
